// PatternFly
@pf-less-path: "/patternfly/dist/less";
@import (reference) "@{pf-less-path}/patternfly.less";

@pf-padding: @grid-gutter-width / 2;

#main {
  height: 100%;

  & > .container-fluid {
    height: 100%;
    overflow: auto;
    padding-left: 0;
    padding-right: 0;
  
    div[ng-view] {
      height: 100%;
      padding-left: @pf-padding;
      padding-right: @pf-padding;
    }
  }

  .navbar-pf-vertical {
    .navbar-iconic {
      .nav-item-iconic {
        line-height: normal; // align text and icon
        padding-right: 15px;
  
        .username {
          display: inline-block;
          font-weight: 300;
          max-width: 140px; // enable truncation
          padding-right: 2px;
          vertical-align: top; // align text and icon
        }
      }
    }
  }
}
